
        .sec1 {
            background-image: url("https://i.pinimg.com/originals/f4/52/a2/f452a2f4b634b3011e065da8eaf0a5c3.gif");
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;

        }

        .custom-li {
            font-size: 20px;
        }

        .btn {
            background-color:white;
            color: black;
            font-size: 25px;
            border: none;
            cursor: pointer;
            border-radius: 10px;
        }
        .btn2 {
  position:absolute;
  
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #58B8C3;
  color: black;
  font-size: 16px;
  padding: 12px 24px;
  margin-top: 50px;
  
  border:#1E7781;
  cursor: pointer;
  border-radius: 5px;
}
   